<a [routerLink]="'/' + model.slug">
  <div
    class="photo-container"
    [ngStyle]="{
    backgroundImage: urlBgImg(model.modelContent.images[0]?.metadata.secure_url)
  }"
  >
    <div class="photo-overlay">
      <ul class="details">
        <li>Height — {{ model.modelContent.height }}</li>
        <li>Bust — {{ model.modelContent.bust }}</li>
        <li>Waist — {{ model.modelContent.waist }}</li>
        <li>Hips — {{ model.modelContent.hips }}</li>
        <li>Shoes — {{ model.modelContent.shoes }}</li>
        <li>Eye — {{ model.modelContent.eyeColor }}</li>
        <li>Hair — {{ model.modelContent.hairColor }}</li>
      </ul>
    </div>
  </div>
</a>

<div class="meta-model">
  <a [routerLink]="'/' + model.slug">
    <h3 class="name">{{ model.modelContent.name }}</h3>
    <p class="origin">from {{ model.modelContent.country }}</p>
  </a>
  <a (click)="onHeartClicked()" class="selection-button">
    <img class="heart-img" *ngIf="!selected; else filledHeart" src="/assets/img/heart-transparent.svg" width="14" height="14">
    <img class="heart-overlay" src="/assets/img/heart.svg" width="14" height="14">
    <ng-template #filledHeart>
      <img class="heart-img" src="/assets/img/heart.svg" width="14" height="14">
    </ng-template>
  </a>
</div>