@import ~sass/variables
@import ~sass/mixins

\:host
  background-color: $bg

\:host > div
  +flex(space-between, center)

.fav-counter
  padding-left: 5px
  +druk(10px)

.heart
  width: 16px
  height: 16px
  padding-left: 20px
  cursor: pointer
  box-sizing: content-box

.logo
  width: 111px
  height: 30px
  cursor: pointer
  z-index: 9
  +mqmax(600px)
    width: 81px


.hamburger
  transition: all .5s ease .2s
  div
    width: 28px
    height: 3px
    background: $black
    transition: all.5s ease
  div:not(:first-child)
    margin-top: 5px

.hamburger.opened
  transform: translateX(-6px)
  .first
    transform: rotate(-45deg)
    transform-origin: right
  .second
    opacity: 0
  .third
    transform: rotate(45deg) translate(2.5px, 2.5px)
    transform-origin: right
