@import ~sass/variables
@import ~sass/mixins

.grid-wrapper li
  padding-bottom: 52px
  // height: 550px
  width: calc(25% - 16.6667px)
  margin: 0 22px 22px 0
  &:nth-child(4n + 0)
    margin-right: 0

  &.is-letter
    border-top: 2px solid $black
    padding-top: 16px

  +mqmax($web-container - 1)
    width: calc(33.3333% - 13.3333px)
    margin: 0 20px 20px 0
    &:nth-child(4n + 0)
      margin-right: 20px
    &:nth-child(3n + 0)
      margin-right: 0

  +mqmax($tablet-portrait)
    width: calc(50% - 10px)
    // height: 616px
    &:nth-child(3n + 0)
      margin-right: 20px
    &:nth-child(2n + 0)
      margin-right: 0

  +mqmax($mobile)
    width: 100%
    // height: 570px
    margin-right: 0
    padding-bottom: 55px
    &:nth-child(3n + 0),
    &:nth-child(2n + 0)
      margin-right: 0

  span
    +druk-super(40px)

ul.letters
  +flex(space-between, center)
  flex-wrap: wrap
  margin: 20px 0 12px
  +mqmax($tablet)
    margin: 20px 30px 0px
  li
    flex: 1 1 16.6666%
    display: inline-block
    text-align: center
    +druk(16px)
    font-weight: 500
    text-transform: uppercase
    height: 130px

.real-letter
  cursor: pointer

.selected-letter-container
  margin-bottom: 141px
  +mqmax($mobile)
    margin-bottom: 116px

#selectedLetter
  +druk-super(400px)
  +mqmax($tablet-portrait)
    margin-bottom: 140px
  +mqmax($mobile)
    font-size: 200px
    margin-bottom: 68px

.left-triangle
  transform: rotate(180deg)
  float: left

.right-triangle
  float: right

.triangle-icon
  margin-top: 200px
  +mqmax($mobile)
    margin-top: 82px

@media only screen and (max-width: 361px)
  #selectedLetter
    font-size: 160px
  .triangle-icon
    margin-top: 68px

scroll-up
  margin-top: 0

