@import ~sass/variables
@import ~sass/mixins

\:host
  position: fixed
  bottom: 0
  left: 0
  height: 60px
  width: 100%
  background: $black
  color: $bg

  .web-container
    height: 100%
    // z-index: 1
    +flex(flex-start, center)

// +mqmax($tablet)
//   \:host
//     top: calc(50% - 30px)
//     top: calc(50vh - 30px)

// +mqmax($medium)
//   \:host
//     position: relative
//     top: unset
//     left: unset
//     color: $black
//     background: transparent
//     height: 19px 
