#berta
  form
    +druk(16px)

    formly-field
      margin-bottom: 28px

    label
      color: $black

    input, textarea
      background-color: transparent
      border: none
      border-bottom: 3px solid $black
      border-radius: 0
      padding-left: 0
      color: $black

    textarea
      margin-bottom: 44px

    ::placeholder
      opacity: 1 /* Firefox */
      color: $black
    ::-ms-input-placeholder /* Microsoft edge */
      color: $black

    formly-check-box
      line-height: 1
      div.form-check
        margin-bottom: 24px
      label.form-check-label
        font-size: 12px
        color: $black
        padding-top: 6px
        padding-left: 29px
        line-height: normal
      input.form-check-input
        background-color: transparent
        border: 2px solid black
        border-radius: 0
        height: 25px
        width: 25px
        margin-top: 0
        -webkit-appearance: none
        -moz-appearance: none
        cursor: pointer

      input.form-check-input:checked:before
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        text-align: center
        color: $black
        content: 'x'

    ng-select.custom
      font-size: 16px
      .ng-select-container
        color: $black
        background-color: transparent
        border-radius: 0
        border: 3px solid $black
        text-align: center
        padding: 26px 0
        .ng-placeholder
          color: $black
        .ng-input input
          border: none
        span.ng-arrow
          border-color: $black transparent transparent

    ng-select.custom .ng-dropdown-panel
      background-color: $bg
      border-radius: 0
      border: 3px solid $black
      border-top: 1px solid $black
      .ng-option
        background-color: $bg
        &:hover
          background-color: $grey


    ng-select.custom.ng-select-opened span.ng-arrow
      border-color: transparent transparent $black

    div.custom-file-input-container
      button.file-upload-btn
        border: 3px solid black
        width: 100%
        height: 58px
        +druk(16px)
        padding: 0 21px
        background-color: transparent
        fa-icon
          float: right

    formly-date-picker
      input
        padding-left: 10px
        height: 58px
        border: 3px solid $black
        border-right: none
      button.btn-outline-secondary
        height: 58px
        background-color: transparent
        border: 3px solid black
        padding-top: 13.5px
        padding-bottom: 13.5px
        fa-icon
          color: $black

    ngb-datepicker
      +druk(12px)
      background-color: $bg
      border: 3px solid $black
      border-top: none
      border-radius: 0
      margin-top: 0
      width: 100%
      .bg-light
        background-color: $bg !important
      .ngb-dp-weekdays
        border-bottom: 2px solid $black !important
      .ngb-dp-weekday
        color: $black
        font-size: 12px
      .ngb-dp-day .btn-light
        border-radius: 0
        &:hover,&.active
          background-color: $grey
        &.bg-primary
          background-color: $black !important
      select
        background-color: $bg !important
        font-size: 12px
        border: 1px solid $black
        border-radius: 0
        color: $black !important
      button.btn
        padding-top: 0
        border: none
        &.ngb-dp-arrow-btn.btn-link
          color: $black

    formly-validation-message
      color: $errorRed
      font-family: $union

    .form-control.is-invalid
      background-image: none

    +mqmax($tablet-portrait)
      font-size: 15px
      .form-control, ng-select.custom, div.custom-file-input-container button.file-upload-btn
        font-size: 15px

    +mqmax($mobile)
      div.custom-file-input-container button.file-upload-btn
        padding: 0 64px

      formly-check-box
        input.form-check-input
          height: 20px
          width: 20px
        label.form-check-label
          font-size: 9px
          padding-left: 17px
          padding-top: 4px
