// Media Queries
=mqmax($pixels)
  @media only screen and (max-width: $pixels)
    @content

=mqmin($pixels)
  @media only screen and (min-width: $pixels)
    @content

=media-between($min, $max)
  @media only screen and (min-width: $min) and (max-width: $max)
    @content

// Flex
=flex($justify, $align)
  display: flex
  justify-content: $justify
  align-items: $align

// Fonts
=druk($font-size)
  font-family: $druk
  font-size: $font-size

=druk-italic($font-size)
  font-family: $druk-italic
  font-size: $font-size

=druk-super($font-size)
  font-family: $druk-super
  font-size: $font-size

=union($font-size)
  font-family: $union
  font-size: $font-size

=union-bold($font-size)
  font-family: $union-bold
  font-size: $font-size

// Layout
=full-width()
  width: 100vw
  margin-left: calc(50% - 50vw)