
$color-black: #4a4a4a;

$heading-font-family: 'Druk', sans-serif;
$heading-font-color: $color-black;

$body-font-family: 'PTSans', sans-serif;
$body-font-color: $color-black;
$body-line-height: 1.5;

$margin-small: 8px;
$margin-default: 16px;
$margin-large: 32px;

$padding-small: 8px;
$padding-default: 16px;
$padding-large: 32px;
