<div class="buttonLateralText" (click)="showLateral()">
     <span>Texto</span> <span>Lateral</span>
  </div>

<div class="lateralText" [ngClass]="showLateralText ? 'show' : ''">
  <button (click)="showLateral()" class="close">X</button>
  {{ settings?.lateralText }}
</div>

<div class="content-wrapper">
  <h1>In Town</h1>
  <div class="grid-wrapper">
    <ul>
      <li *ngFor="let model of modelsInTown">
        <model-box [model]="model"></model-box>
      </li>
    </ul>
  </div>

  <scroll-up class="scroll-up"></scroll-up>
</div>
<app-footer></app-footer>
