@import ~sass/variables
@import ~sass/mixins

h1
  font-size: 160px
  min-height: 225px
  +mqmax($tablet)
    font-size: 115px
    line-height: 225px
  +mqmax($tablet-portrait)
    font-size: 100px
    line-height: 190px
  +mqmax($mobile)
    margin: 81px 0 143px
    height: 130px
    font-size: 75px
    line-height: 1em
    min-height: unset


.links
  +druk-italic(30px)
  +flex(flex-end, center)
  margin: 0
  flex: 1 1 100%
  justify-content: space-around
  +mqmax($tablet-portrait)
    font-size: 24px

  +mqmax($mobile)
    display: none

.grid-wrapper li
  +flex(center, flex-start)
  flex-direction: column
  padding-bottom: 35px
  text-align: center
  +mqmax($tablet-portrait)
    padding-bottom: 0px

.meta-model
  +flex(center, flex-start)
  flex-direction: column

.scroll-up
  margin-top: 0
  +mqmax($mobile)
    margin-top: 32px

+mqmax($mobile)
  floating-menu
    display: none

.grid-wrapper
  // padding-left: 20px
  li
    // height: 740px
    +mqmax($tablet)
      // height: 815px
      width:  calc(50% - 10px)
      margin-bottom: 0
      &:nth-child(1n + 0)
        // margin-right: 20px
      &:nth-child(2n + 0)
        margin-right: 0
    +mqmax($tablet-portrait)
      // height: 616px
      &:nth-child(1n + 0)
        // margin-right: 14px
      &:nth-child(2n + 0)
        margin-right: 0

+mqmax($mobile)
  .grid-wrapper
    padding-left: 0
    li
      width: 100%
      // height: 655px
      margin-right: 0
      &:nth-child(3n + 0),
      &:nth-child(2n + 0),
      &:nth-child(1n + 0)
        margin-right: 0



.lateralText 
  position: fixed
  right: 0
  background: black
  height: 40px
  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
  height: 100%
  width: 20vw
  padding: 2.5vw
  text-align: center
  margin-right: -20vw
  cursor: pointer
  top: 0
  z-index: 500000
  color: white
  -webkit-animation: runRight 0.5s linear  
  &.show 
    margin-right: 0 
    -webkit-animation: runLeft 0.5s linear  

  .close 
    color: white
    opacity: 1
    border: 1px solid white
    border-radius: 100px
    width: 50px
    height: 50px
    left: 20px
    position: absolute
    top: 20px
    outline: none

    &:hover
      opacity: 0.5
.buttonLateralText 
  width: 41px
  background: #0a0a0a
  position: fixed
  right: 0
  cursor: pointer
  word-break: break-all
  padding: 15px
  text-align: center
  line-height: 21px
  color: white
  outline: none

  span
    margin-bottom: 21px
    display: inline-block

@-webkit-keyframes runRight 
  0%
    background-color: black
    margin-right: 0 
    top: 0px
    
  25% 
    background-color: grey
    margin-right: -10vw
    top: 0px
    
  100%  
    background-color: white
    margin-right: -20vw 
    top: 0px


@-webkit-keyframes runLeft 
  0%  
    background-color: white
    margin-right: -20vw 
    top: 0px
    
  25% 
    background-color: grey
    margin-right: -10vw
    top: 0px
    
  100%
    background-color: black
    margin-right: 0 
    top: 0px

        